@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

header {
  height: 150px;
  background-color: #7c3aed;
  margin-bottom: 40px;
}

header h1 {
  padding-top: 50px;
  color: white;
}

li {
  display: block;
  padding: 20px;
  border: 1px solid #7c3aed;
  border-radius: 5px;
  width: 30%;
  list-style: none;
  margin: 20px auto;
}

a {
  color: #7c3aed;
  font-size: 20px;

}